

:root {
    --black: #150605;
    --red: #EA453C;
    --pink: #F47B6E;
    --light-blue: #EFFBFE;
    --blue: #ACE6EC;
}

* {
margin: 0;
font-family: Oswald, sans-serif;
}


nav {
    background-color: darkcyan;
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    min-width: 70%;
}



.titlenav {
    margin: 10px;
}
.iconCar {
    margin: 10px;
    
}
.ri-shopping-cart-2-line, .ri-shopping-cart-2-fill {
    font-size: 30px;
}


li, a{
    list-style: none;
    text-decoration: none;
}

.active {
    color: lightsalmon;
}

.blue {
    color: aliceblue;
}

.photos {
    padding: 10px;
    display: grid;
    grid-gap: 2px;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-flow: dense;
}

.image-container {
    position: relative;
}

.image-grid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

.favorite {
    color: var(--red);
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.cart {
    color: var(--blue);
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.ri-heart-line {
    opacity: .7;
}

.ri-heart-fill {
    opacity: .7;
}

main.cart-page {
    padding: 10px;
}

.cart-page > h1 {
    text-align: center;
}

.cart-page .total-cost {
    text-align: right;
    font-size: 1.3em;
}

.cart-page div.order-button {
    display: flex;
    justify-content: center;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.cart-item img {
    margin-right: auto;
    margin-left: 10px;   
}

.cart-page .total-cost {
    text-align: right;
    font-size: 1.3em;
}

.cart-page div.order-button {
    display: flex;
    justify-content: center;
}

div.order-button > button {
    border-color: var(--black);
    cursor: pointer;
    padding: 15px;
    transition: all .2s ease-in-out;
}

div.order-button > button:focus {
    outline: none;
}

div.order-button > button:disabled {
    border-color: lightgray;
}


.ri-delete-bin-line, .ri-delete-bin-fill {
    font-size: 1.3em;
    cursor: pointer;
}