* {
    margin: 0;
    font-family: Oswald, sans-serif;
}

.navbar {
    display: flex;
    background-color: darkcyan;
    justify-content: space-between;
    align-items: center;
}

.titlenav {
    margin: 10px;
}
.iconCar {
    margin: 10px;
    
}
.ri-shopping-cart-2-line {
    font-size: 30px;
}

li, a{
    list-style: none;
    text-decoration: none;
}

.active {
    color: lightsalmon;
}

.blue {
    color: aliceblue;
}